.selector-for-some-widget {
    box-sizing: content-box;
  }

.carousel-item img{
    height: 500px;
    object-fit: cover;
}

.round-btn-sizing{
    width: 75px;
    height: 75px;
    bottom: 20px;
    right: 20px;
}

.card-img-top{
    height: 20vh;
}